= image_tag 'logo.png', style: 'width: 200px; margin: 10px;'

= form_for 'game', url: games_path do |f|
  - Character.all.each do |char|
    .character-card
      = image_tag char.image, id: char.id, class: 'player-images faded'

  = f.hidden_field :character_ids, id: 'character-ids'
  = f.submit 'Create Game', type: :image, src: asset_path("start_game.png"), class: 'submit-button'

= content_for :js do
  :javascript

    $(document).ready(function() {
      var swordSound = new Audio("#{asset_path('sword.mp3')}")
      var sheatheSound = new Audio("#{asset_path('sheathe.mp3')}")
      $('.character-card').on('click', function() {
        $(this).toggleClass('playing');
        if ($(this).hasClass('playing')) {
          swordSound.play();
        } else {
          sheatheSound.play();
        }
      });
      $('.player-images').on('click', function() {
        var existing = $("#character-ids").val()
        $("#character-ids").val( existing + ',' + $(this).attr('id') )
        $(this).toggleClass('faded')
      })
    })
