= image_tag 'logo.png', style: 'width: 200px; margin: 10px;'

= form_for 'game', url: games_path do |f|
  - Character.all.each do |char|
    .character-card
      = image_tag char.image, id: char.id, class: 'player-images faded'

  = f.hidden_field :character_ids, id: 'character-ids'
  = f.submit 'Create Game', class: 'button alert'

= content_for :js do
  :javascript

    $(document).ready(function() {
      $('.player-images').on('click', function() {
        var existing = $("#character-ids").val()
        $("#character-ids").val( existing + ',' + $(this).attr('id') )
        $(this).toggleClass('faded')
      })
    })
